<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/boardForm.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/45688b732c.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragement/fragmentHeader :: header}"></div>
<div class="container">
    <h2 class="writing-header">게시판 글 수정</h2>
    <form id="form" class="frm" action="" th:object="${post}" method="post">
        <input type="hidden" th:field="*{bno}">
        <div class="msg" th:if="${#fields.hasErrors('title')}">
            <i class="fa fa-exclamation-circle"></i><span th:errors="*{title}"></span>
        </div>
        <input type="text" th:field="*{title}" placeholder="제목을 입력해 주세요." ><br>
        <div class="msg" th:if="${#fields.hasErrors('content')}">
            <i class="fa fa-exclamation-circle"></i><span th:errors="*{content}"></span>
        </div>
        <textarea rows="20" th:field="*{content}" placeholder="내용을 입력해 주세요."></textarea><br>

        <button id="writeBtn" class="btn btn-write"><i class="fa fa-pencil"></i> 등록</button>
        <button id="cancelBtn" class="btn btn-cancel" th:onclick="|location.href='@{/board/{bno}(bno=${post.bno}, page=${param.page}, pageSize=${param.pageSize})}'|" type="button"><i class="fa-solid fa-xmark"></i> 취소</button>
        <button id="listBtn" class="btn btn-list" th:onclick="|location.href='@{/board(option=${param.option}, keyword=${param.keyword}, page=${param.page}, pageSize=${param.pageSize})}'|" type="button"><i class="fa fa-bars"></i> 목록</button>
    </form>
</div>
</body>
</html>